@model inBloom.Models.Home.StudentListModel
@{
    ViewBag.Title = "Index";
}

<h2><i class="icon-list-alt"></i> Student list for selected section</h2>
<div class="separator-line"></div>
@if (TempData.ContainsKey("message"))
{
    <div class="message">@TempData["message"]</div>
}
<p>
    Section:
    <select>
        <option>Sec 145</option>
    </select>
</p>
<br/>
<div style="overflow:scroll; height: 600px; width: 100%">
<table style="margin:auto;">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
    </thead>
    @{
        var i = 0;
    }
    @foreach (var s in Model.List)
    {
        <tr>
            <td><input type="checkbox"/>&nbsp;</td>
            <td><i class="student-@(i%4)"></i></td>
            <td>@s.FirstName</td>
            <td>@s.LastName</td>
            <td><a href="@Url.Action("NotifyParent", new { studentName = s.FirstName, studentId = s.Id})">Notify Parent</a></td>
        </tr>
        i++;
    }
    
</table>
</div>

