@{
    ViewBag.Title = "Index";
}

<h2><i class="icon-user"></i> Parent Portal</h2>
<div class="separator-line"></div>

<div>
    <i class="student-2"></i><h3>Zoe Locust</h3>
</div>
<br/><br/>
<h3>Historical Interactions</h3>
<div class="messages">
    <ul>
        <li>
            <div class="interaction-date">3-06-2013 <i class="icon-calendar"></i></div>
            <div class="interaction-message">
                <p><h4>Positive feedback.</h4></p>
                <p><span style="font-weight:bold;">Subject:</span> Some subject</p>
                <p><span style="font-weight:bold;">Message:</span> Some long long message that we left on the student.</p>
            </div>
            <div class="interaction-divider">.............................................................................................................................................................................................................</div>
        </li>
         <li>
            <div class="interaction-date">3-02-20113 <i class="icon-calendar"></i></div>
            <div class="interaction-message">
                <p><h4>Positive feedback.</h4></p>
                <p><span style="font-weight:bold;">Subject:</span> Some subject</p>
                <p><span style="font-weight:bold;">Message:</span> Some long long message that we left on the student.</p>
            </div>
            <div class="interaction-divider">.............................................................................................................................................................................................................</div>
        </li>
    </ul>
</div>