@{
    ViewBag.Title = "Index";
}

<h2><i class="icon-user"></i> Parent Portal</h2>
<div class="separator-line"></div>

<div>
    <i class="student-2"></i><h3>Verda Herriman</h3>
</div>
<br/><br/>
<h3>Historical Interactions</h3>
<div class="messages">
    <ul>
        <li>
            <div class="interaction-date">3-06-2013 <i class="icon-calendar"></i></div>
            <div class="interaction-message">
                <p><h4>Positive feedback.</h4></p>
                <p><span style="font-weight:bold;">Subject:</span> Verda was an active participant in class.</p>
                <p><span style="font-weight:bold;">Message:</span> She was very helpful to another student today in our math breakout session.  It's a pleasure having her in my class!</p>
            </div>
            <div class="interaction-divider">.............................................................................................................................................................................................................</div>
        </li>
    </ul>
</div>