//Colors
$background-primary: #ebf3ef; //Very Light background green.
$background-secondary: #fff; //White
$background-tertiary: #0c0d0c; //Dark charcoal color
$background-forth: #3996d2; //Light green

$font-color-primary: #575655; //Dark Grey
$font-color-secondary: #3996d2; //Light green
$font-color-tertiary: #fff; //White

body
{
	background-color: $background-primary;
	color: $font-color-primary;
}

.separator-line{
	width: 100%;
	height: 5px;
	background-color: #ededed;
	margin-top: 10px;
	margin-bottom: 10px;
}

a{
	font-size: 14px;
	color: $font-color-secondary;
	text-decoration: underline;	
}

label{
	font-weight: bold;
}

input, textarea, select{
	border: 1px solid #cacaca;
	width: 90%;
	font-size: 17px;
}

input[type=radio]{
	width: 20px;
}

.l-sidebar{

	background-color: $background-tertiary;

	color: $font-color-tertiary;

	a{
		color:$font-color-secondary;
		font-size: 14px;
	}

	h1,h2,h3,h4,h5{
		color: $font-color-tertiary;
	}

	h2{
		font-size: 22px;
	}

	ul{
		list-style-type: none;

		li{
			margin-top: 8px;
		}
	}
}

.l-main-container{
	background-color: $background-secondary;
}

.person-img{
	float: left;
	border: 3px solid $background-forth;
	width: 70px;
	height: 70px;
	margin-right: 10px;
}

.l-divider{
	background-color: $background-forth;
	padding: 10px;
}

.l-nav
{

	li{
		a{
			font-size: 14px;
			color: $font-color-tertiary;
			text-decoration: none;
		}

		a:hover, .active{
			color: $font-color-secondary;
			text-decoration: underline;
		}
	}


}

table{
	width: 500px;
	border-collapse: collapse;
	thead{
		tr{
			background-color: $font-color-secondary;
			color:$font-color-tertiary;
			font-weight: bold;

			th{
				padding: 5px;
				text-align: left;
			}
		}
	}

	tr{
		margin-bottom: 10px;
	}

	tr.highlight{
		background-color: #d7d7d7;
	}
}

.student-0, .student-1, .student-2, .student-3 {
	display: block;
	width:94px;
	height:94px;
	background-image: url("../img/students/StudentSprite.png");
	background-repeat: none;
}

.student-0{
	background-position: 0px 0px;
}

.student-1{
background-position: 0px 95px;
} 

.student-2{
background-position: 0px 191px;
} 

.student-3 {
background-position: 0px 287px;
}

.student-4 {
background-position: 0px 382px;
}


.messages{
	overflow:auto; 
	width:90%; 
	height:290px; 
	border-radius:5px; 
	border:1px solid grey; 
	padding:20px;

	ul{
		list-style-type: none;
	}
}

.interaction-date{
	float: left;
	height: 20px;
	background-color: $background-tertiary;
	color: $font-color-tertiary;
}

.interaction-message{
	float: left;
	margin-left: 10px;
	width: 450px;
}

.interaction-divider{
	clear: both;
}

.message{
	background-color: $font-color-secondary;
	color:$font-color-tertiary;
	width: 95%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}