// 1. Resets
* {
    border: 0;
    margin: 0;
    padding: 0;
}

body
{
}

div.container{
	width: 960px;
	margin: auto;
	overflow: hidden;
	box-shadow: 0px 0 20px #ccc, -6px 0 20px #ccc;
}

.l-sidebar{
	width: 225px;	
	height: 800px;
	float: left;	
	
	//-webkit-box-shadow: 10px 4px 70px #e6e6e6;
    //-moz-box-shadow: 10px 4px 70px #e6e6e6;    
}

.padding{
	padding: 20px;
}

.l-main-container{
	float: left;
	margin-left: 2px;
	width: 690px;
	height: 760px;
	padding: 20px;
}

.l-divider{
	
}

.l-menu{
}



#form{
	p{
		margin-bottom: 10px;	
	}

	label{
		display: block;
		width:200px;
	}

	input[type=submit]{
		width:100px;
		height:30px;
	}

	.radios{
		
		label{
			float:left;
			width: 70px;
		}

		input{ float:left;	}
	}
}